/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
font-size: 20px;
background: #0CCBF9;
width: 950px; 
height: 35px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 50px;
top: 8px;
width: 850px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;

font: bold 10px Verdana;
list-style-type: none;
color:white;
font-weight: bold;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;

}
ul.newsticker a {

padding: 0;
color:white;
font-weight: bold;
font-size: 15px;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 